/* backgrounds */
#item1 {background: #adadad; }
#item2 {background: #bababa;}
#item3 {background: #c6c6c6;}
#item4 {background: #d3d3d3;}
#item5 {background: #f3f3f3; }
#item6 {background: #e0e0e0;}
#item7 {background: #878787;}
#item8 {background: #a0a0a0;}
#item9 {background: #949494;}
#item10 {background: #a0a0a0;}
