@font-face {

font-family: "Alfa";
src: url("../font/AlfaSlabOne-Regular.ttf");
src: url("../font/AlfaSlabOne-Regular.ttf") format("ttf"),
}

:root {
    --gap: 2em;
    --gap2: 4em;
    --boxwidth: calc(100vw - var(--gap2));
    --boxheight: calc(100vh - var(--gap2));
}

body {
  background: #f9f9f9;
  margin: 0;
  font-family: georgia, serif;
  scroll-behavior: smooth;
}

.proxy-anchor {
    display: block;
    position: absolute;
    width: var(--boxwidth);
    height: var(--boxheight);
    z-index: -1;
    opacity: 0;
}

.huge{
  font-size: 30px;
  font-family: "Alfa";
}
