@font-face {
font-family: "Mogena";
src: url("font/Mogena.ttf");
src: url("font/Mogena.ttf") format("ttf");
font-family: "Optiker-K";
src: url("font/Optiker-K.ttf");
src: url("font/Optiker-K.ttf") format("ttf");
}


.bar1, .bar2, .bar3 {
  width: 35px;
  z-index: 30;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

body{
  background: white;
  border: 8px solid #4733ee;
}

h1{
  font-family: "Optiker-K";
  color: #4733ee;
  font-size: 36px;
}

li {
  font-family: "Mogena";
  font-size: 54px;
}

li a {
  text-decoration: none;
  color: #4733ee;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

li a:hover{
  color: white;
}
section{
  border-bottom: 2px solid red;
  min-height: 100vh;
}

#main-menu{
  background: #4733ee;
  z-index: 20;
  height: 100%;
  width: 30%;
  position: absolute;
  top: 0;
  left: -1480px;
  transition: 1s all ease;
}

#main-menu:target{
  left:0;
}

#main-menu:target + .backdrop {
  display: block;
  background: rgba(250, 255, 177, 0.8);
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  height : 100%;
    z-index: 998;
}

@keyframes rotation01 {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

@keyframes rotation02 {
		from {
				transform: rotate(360deg);
		}
		to {
				transform: rotate(0deg);
		}
}

.rotating-wheels-01 {
  background: green;
  max-width: 600px;
  position: relative;
}

.rotating-wheels-01 img {
  position: absolute;
  top : 0;
}

.circle01 {
    animation: rotation01 2s infinite linear;
}

.circle02 {
    animation: rotation02 3s infinite linear;
}

.circle03 {
    animation: rotation01 6s infinite linear;
}

.circle04 {
    animation: rotation02 2s infinite linear;
}
